.action-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .filter-field {
    flex-basis: 100%;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  @media (min-width: 600px) {
    .filter-field {
      flex-basis: auto;
    }
  
    .table-container {
        overflow-x: auto;
      }

    .button-group {
      margin-bottom: 0;
    }
  }
  


  .table-container {
    overflow-x: auto;
  }

  ::ng-deep .action-header {
    text-align: center !important;
  }
  
  ::ng-deep .action-cell {
    text-align: center;
  }
  
  ::ng-deep .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 600px) {
    ::ng-deep .button-container {
      flex-direction: row;
    }
  }
  