<div class="card course-card">
    <img [src]="course.imageUrl" class="card-img-top" alt="{{ course.title }}" />
    <div class="card-body">
      <h5 class="card-title">{{ course.title }}</h5>
      <p class="card-text">{{ "course.subtitle" }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="rating">
          <small>{{ course.rating.toFixed(1) }} ★</small>
        </div>
        <div class="price">
          <small>{{ course.price | currency:'USD' }}</small>
        </div>
      </div>
    </div>
  </div>