<div class="container">
    <div class="checkout-container">
      <h2>Checkout</h2>
      <div class="plan-details">
        <h3>Selected Plan</h3>
        <p>
            <i class="material-icons green-text">check_circle</i>
          Feature 1
        </p>
        <p>
            <i class="material-icons green-text">check_circle</i>
          Feature 2
        </p>
        <p>
            <i class="material-icons green-text">check_circle</i>
          Feature 3
        </p>
      </div>
      <div class="guarantees">
        <div class="guarantee-item">
          <i class="material-icons">verified</i>
          Worry-free compliance
        </div>
        <div class="guarantee-item">
          <i class="material-icons">money_off</i>
          Money-back guarantee
        </div>
      </div>
      <div class="button-container">
        <button class="btn" routerLink="/payment" mat-raised-button color="primary">Proceed to Payment</button>

      </div>
    </div>
  </div>
  