<div class="container">
    <div class="checkout-container">
      <h2>Checkout</h2>
      <div class="plan-details">
        <h3>{{selectedPlan?.title}}</h3>
        <ng-container *ngIf="selectedPlan?.features">
          <p *ngFor="let feature of selectedPlan?.features">
            <i class="material-icons green-text">check_circle</i>
            {{ feature }}
          </p>
        </ng-container>
      </div>
      <div class="guarantees">
        <div class="guarantee-item">
          <i class="material-icons">verified</i>
          Worry-free compliance
        </div>
        <div class="guarantee-item">
          <i class="material-icons">money_off</i>
          Money-back guarantee
        </div>
      </div>
      <div class="button-container">
        <button class="btn" routerLink="/payment" mat-raised-button color="primary">Proceed to Payment</button>
      </div>
    </div>
  </div>
  