.course-item {
    display: flex;
    background-color: #fff;
    margin-bottom: 1rem; // Add this line to create space between course items
  }
  
  .course-image {
    width: 260px;
    height: 146px;
    object-fit: cover;
    min-width: 260px;
  }
  
  .course-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1rem;
  }
  
  .course-title {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .course-description {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .course-author {
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
  }
  
  .course-rating {
    font-size: 0.875rem;
  }
  



  @media screen and (max-width: 767px) {
    .course-image {
        width: 64px;
        height: 64px;
        object-fit: cover;
        min-width: 64px;
      }
  }
  