:host {
    display: block;
    padding: 1rem;
  }


  .course-card {
    max-width: 400px;
    margin-bottom: 1rem;
  }
  
  .course-image {
    background-color: #ccc;
    width: 40px;
    height: 40px;
  }