<div class="course-item">
  <img [src]="course.imageUrl" alt="Course Image" class="course-image" />
  <div class="course-details">
    <h3 class="course-title">{{ course.title }}</h3>
    <p class="course-description">
      {{ course.description }}
    </p>
    <div class="course-author">Author: {{ course.instructor }}</div>
    <div class="course-rating">Rating: 4.5/5</div>
  </div>
  <button mat-raised-button color="primary" routerLink="/register" class="subscribe-button">Subscribe</button>
</div>