.course-item {
    display: flex;
   // background-color: #fff;
    margin-bottom: 1rem; 
    position: relative; // Add this line to align the button vertically
  }
  
  .course-image {
    width: 150px;
    height: 150px;
    padding: 0.5rem;
   // min-width: 260px;
  }
  
  .course-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1rem;
    flex-grow: 1; 
  }
  
  .course-title {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .course-description {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .course-author {
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
  }
  
  .course-rating {
    font-size: 0.875rem;
  }
  

.subscribe-button {
  
  position: absolute; // Add this line to position the button independently
  bottom: 0px; // Add this line to move the button to the bottom of the course item
  right: 1rem; // Add this line to move the button to the right side of the course item
  min-width: 105px;
}

  @media screen and (max-width: 767px) {
    .course-image {
        width: 64px;
        height: 64px;
        object-fit: cover;
        min-width: 64px;
      }
  }
