<h2 mat-dialog-title>Edit Nickname</h2>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-row" fxLayout="column" fxLayoutGap="10px">
      <mat-form-field fxFlex="100">
        <mat-label>Nickname</mat-label>
        <input matInput formControlName="nickname" autofocus>
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <mat-label>Bio</mat-label>
        <textarea matInput formControlName="bio" rows="7"></textarea>
      </mat-form-field>
    </div>  
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="submit()" [disabled]="form.invalid">Save</button>
</div>
