<div class="card" [@cardAnimation]="{ value: 'card', params: { duration: 500, easing: 'ease-out' } }" [ngClass]="{'flipped': isFlipped}" #card *ngIf="isVisible">
  <div class="card-inner">
    <div class="card-content">
      <h2>{{ vocabularyItem?.term | titlecase }}</h2>

      <i class="fas fa-sync-alt flip-icon" (click)="flipCard()"></i>
    </div>
    <div class="card-back">
      <p>{{ vocabularyItem?.meaning | titlecase }}</p>
      <i class="fas fa-sync-alt flip-icon" (click)="flipCard()"></i>
    </div>
  </div>
  <div class="card-footer">
    <div class="speaker-pronounce-container">
      <button class="speaker-container" (click)="speak()">
        <i class="fas fa-volume-up"></i>
      </button>
      <span class="pronounce">{{ vocabularyItem?.pronounce }}</span>
    </div>
    <button class="next-button" (click)="nextCard()">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>
</div>

<div class="total-records">
  {{currentObjectIndex}} Out of Total Records: {{totalRecords}}
</div>