<div class="card" [@cardAnimation]="{ value: 'card', params: { duration: 500, easing: 'ease-out' } }" #card *ngIf="isVisible">
  <div class="card-content">
    <h2>{{ vocabularyItem?.term }}</h2>
    <p>{{ vocabularyItem?.meaning }}</p>
  </div>
  <div class="card-footer">

    <div class="speaker-container">
      <i class="fas fa-volume-up" ></i>
    </div>
    <span>{{ vocabularyItem?.pronounce }}</span>
    <button class="next-button" (click)="nextCard()">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>
</div>