.container {
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
  gap: 20px; /* You can adjust this value to change the gap between the cards */
  padding: 10px;
}

app-course-card-minimal {
  flex: 1 1 calc(20% - 20px); /* 40px is twice the gap to account for left and right */
  max-width: calc(20% - 20px); /* 40px is twice the gap to account for left and right */
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  app-course-card-minimal {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
