<div class="container">
  <div class="section1">
    <button class="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>filter_list</mat-icon>
    </button>
  </div>
  <mat-drawer-container class="example-container">
    <mat-drawer #drawer mode="side" [opened]="isExpanded">
      <div class="containersmall">
        <app-filter></app-filter>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div class="cards">
        <ng-container *ngFor="let course of courses; let i = index">
          <app-course-list-item [course]="course"></app-course-list-item>
          <!-- Add the divider element, except for the last item -->
          <div *ngIf="i < courses.length - 1" class="divider"></div>
        </ng-container>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
