.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 100%;
  padding-top:  2rem;
}

button {
  margin-bottom: 1rem;
}

.example-container {
  width: 100%;
  height: 100%;
}

.mat-drawer {
  width: 25%;
  background-color: green;
}

.mat-drawer-content {
  background-color: red;
}

@media screen and (max-width: 767px) {
  .mat-drawer {
    width: 100%;
  }
}
