::ng-deep .toolbar {
  display: flex;
  justify-content: space-between;
width: 80%;

}

::ng-deep .toolbar-buttons {
  display: flex;
}



mat-sidenav{

  width: 80%;
  overflow: hidden;
}


.sidenavopen{
  height: 100vh;
}

.body-no-scroll {
  overflow: hidden ;
}