<nav class="nav-wrapper" >
  <div class="container">
    <a routerLink="/" class="">English Learning Center</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/pte" routerLinkActive="active-link">PTE</a></li>
      <li><a routerLink="/ielts" routerLinkActive="active-link">IELTS</a></li>
      <li><a routerLink="/products" routerLinkActive="active-link">Products</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav right-aligned" id="mobile-demo">
  <li><a routerLink="/pte" routerLinkActive="active-link" class="sidenav-close" >PTE</a></li>
  <li><a routerLink="/ielts" routerLinkActive="active-link" class="sidenav-close">IELTS</a></li>
  <li><a routerLink="/products" routerLinkActive="active-link" class="sidenav-close">Products</a></li>
</ul>
