


.brand-logo {
    color: #fff;
    height:30px;
  }
  
  nav ul li a {
    color: #fff;
  }
  
  nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  

  .profile-picture {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    vertical-align: middle;
  }

  nav ul li i.material-icons {
    line-height: inherit;
  }

