

<mat-sidenav-container *ngIf="(isSmallScreen | async)"  class="sidenav-container" [class.sidenavopen]="isCollapsed">
  <mat-sidenav #sidenav mode="over"  class="sidenav" (closedStart)="clossidenavbar()">
    <mat-nav-list>
      
      <!--
      <a mat-list-item routerLink="/dashboard">Home</a>
      <a mat-list-item routerLink="/learn">Learn</a>
      <a mat-list-item routerLink="/create">Create</a>
      <a mat-list-item routerLink="/community">Community</a>
      -->

      <a mat-list-item routerLink="/dashboard" *ngIf="authService.isLoggedIn()">Dashboard</a>
      <a mat-list-item routerLink="/workshop" *ngIf="authService.isLoggedIn()">Workshop</a>
      <a mat-list-item routerLink="/courses">Learn</a>
      <a mat-list-item routerLink="/products" >Product</a>
      <a mat-list-item routerLink="/account" *ngIf="authService.isLoggedIn()">Account</a>
      <a mat-list-item routerLink="/admin" *ngIf="authService.isInRole('Admin')" >Admin</a>
      <a mat-list-item routerLink="/register" *ngIf="!authService.isLoggedIn()" >Login</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleNavbar(sidenav)" >
        <mat-icon>menu</mat-icon>
      </button>
      <span>AI Learning Center</span>
    </mat-toolbar>

  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar color="primary"  *ngIf="!(isSmallScreen | async)" class="toolbar">
  <span>AI Learning Center</span>
  <span class="spacer"></span>
  <div class="toolbar-buttons">
  <button mat-button routerLink="/dashboard" *ngIf="authService.isLoggedIn()"  >Dashboard</button>
  <button mat-button routerLink="/workshop" *ngIf="authService.isLoggedIn()">Workshop</button>
  <button mat-button routerLink="/courses">Learn</button>
  <button mat-button routerLink="/products"  >Product</button>
  <button mat-button routerLink="/profile" *ngIf="authService.isLoggedIn()">Account</button>
  <button mat-button routerLink="/admin" *ngIf="authService.isInRole('Admin')">Admin</button>
  <button mat-button routerLink="/register" *ngIf="!authService.isLoggedIn()">Login</button>
</div>
</mat-toolbar>





