<div class="filter">
    <h3>Filter by Rating</h3>
    <mat-list>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedRating">
        <mat-radio-button value="1">
          <mat-icon class="gold">star</mat-icon><mat-icon class="gold">star</mat-icon><mat-icon class="gold">star</mat-icon><mat-icon class="gold">star</mat-icon><mat-icon class="gold">star</mat-icon>
        </mat-radio-button>
        <mat-radio-button value="2">
          <mat-icon class="gold">star</mat-icon><mat-icon class="gold">star</mat-icon><mat-icon class="gold">star</mat-icon><mat-icon class="gold">star</mat-icon><mat-icon class="gold">star_border</mat-icon>
        </mat-radio-button>
        <mat-radio-button value="3">
          <mat-icon class="gold">star</mat-icon><mat-icon class="gold">star</mat-icon><mat-icon class="gold">star</mat-icon><mat-icon class="gold">star_border</mat-icon><mat-icon class="gold">star_border</mat-icon>
        </mat-radio-button>
        <mat-radio-button value="4">
          <mat-icon class="gold"> star</mat-icon><mat-icon class="gold">star</mat-icon><mat-icon class="gold">star_border</mat-icon><mat-icon class="gold">star_border</mat-icon><mat-icon class="gold">star_border</mat-icon>
        </mat-radio-button>
        <mat-radio-button value="5">
          <mat-icon class="gold">star</mat-icon><mat-icon class="gold">star_border</mat-icon><mat-icon class="gold">star_border</mat-icon><mat-icon class="gold">star_border</mat-icon><mat-icon class="gold">star_border</mat-icon>
        </mat-radio-button>
      </mat-radio-group>
    </mat-list>
  </div>
  