form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  
    @media (max-width: 768px) {
      padding: 0 20px;
    }
  
    mat-form-field {
      width: 100%;
      margin-bottom: 15px;
  
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  
    button {
      align-self: flex-end;
      margin-top: 20px;
    }
  }
  

  .griddisplay{
display: grid;

  }