<mat-drawer-container>
  <mat-drawer mode="side" opened></mat-drawer>
  <mat-drawer-content>
    <div class="grid-container">

      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            My Collection (Draft)
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="onAddRecord()">Add a new card</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
       
        <app-workshop-collection  (delete)="handleCardDeletion($event)" [flashcards]="draftPaginatedFlashcards"> </app-workshop-collection>
        <mat-divider></mat-divider>
     
        <mat-card-header>
          <mat-card-title>
            My Collection (Active)
          </mat-card-title>
        </mat-card-header>
        <app-workshop-collection  (delete)="handleCardDeletion($event)" [flashcards]="actiePaginatedFlashcards"> </app-workshop-collection>




      </mat-card>
    </div>

  </mat-drawer-content>
</mat-drawer-container>