

.grid-container {
    margin: 20px;
}

mat-drawer-content{

    height: 100vh;
}
.dashboard-card {
    padding: 15px;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

app-course-card-minimal {
    flex: 1 1 calc(20% - 20px);
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    app-course-card-minimal {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.dashboard-card-content {
    display: flex;
    flex-direction: column;
}

.btnonbutton {
    margin-top: auto;
    align-self: flex-end;
}



.mat-grid-list {
    width: 100%;
}

@media (max-width: 1200px) {
    .mat-grid-list {
        row-height: 350px;
    }
}

@media (max-width: 900px) {
    .mat-grid-list {
        row-height: 250px;
    }
}

@media (max-width: 600px) {
    .mat-grid-list {
        cols: 1;
        row-height: 150px;
    }
}



.card {
  border: 1px solid red; /* Or use background-color: red; */
}