
<!--
<app-english-learner-card [vocabularyItem]="vocabulary[currentCardIndex]"></app-english-learner-card>
-->

<app-english-learner-card [vocabularyItem]="vocabulary[currentCardIndex]" (next)="currentCardIndex = (currentCardIndex + 1) % vocabulary.length"></app-english-learner-card>
<!--
<div class="container">
    <div *ngFor="let item of vocabulary">
      <app-english-learner-card [term]="item.term" [meaning]="item.meaning" [pronounce]="item.pronounce"></app-english-learner-card>
    </div>
  </div>
-->
