    <mat-card-content class="dashboard-card-content">
      <div class="container">
        <div fxLayout="row wrap" fxLayoutAlign="start start" >
          <div fxFlex.gt-sm="20" fxFlex.md="50" fxFlex.sm="100" *ngFor="let card of paginatedFlashcards">
            <mat-card-content>
              <app-course-card-minimal [cardInfo]="card" (onDelete)="handleCardDeletion($event)"></app-course-card-minimal>
            </mat-card-content>
          </div>
        </div>
        <mat-paginator
          [length]="flashcards.length"
          [pageSizeOptions]="pageSizeOptions"
          [pageSize]="pageSize"
          (page)="onPageChange($event)"
          showFirstLastButtons>
        </mat-paginator>
      </div>
    </mat-card-content>
