

<mat-drawer-container >
<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100%">
  <div fxFlex.gt-sm="50%" fxFlex.sm="100%">

    <div class="container">
      <section class="benefits-section">
        <h2 class="text-center my-5">Benefits of Subscribing to Our Plans</h2>
        <div class="row">
          <div class="col" *ngFor="let benefit of benefits">
            <mat-card class="cardbenefit">
              <mat-card-content>
                <!--<mat-icon class="iconbenefit" aria-hidden="false" aria-label="Example home icon" fontIcon="{{ benefit.icon }}"></mat-icon>-->

                <img [src]="benefit.imgurl" class="iconbenefit" alt="benefit icon">

                <mat-card-title class="card-title">{{ benefit.title }}</mat-card-title>
                <mat-card-content>{{ benefit.description }}</mat-card-content>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </section>


    <section class="plan-section">
      <h2 class="text-center my-5">What is our plan ?</h2>
      <div class="row">
        <div class="col" *ngFor="let plan of plans">
          <mat-card class="cardplan">
            <mat-card-content>
              <mat-card-title class="card-title">{{ plan.title }}</mat-card-title>            
              <mat-card-content>
              <div class="collection-item" *ngFor="let feature  of plan.features">
                <mat-icon class="green-text">check_circle</mat-icon>
                {{ feature }} 
              </div>
              </mat-card-content>
              <p><strong>- {{ plan.price }}</strong></p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="selectPlan(plans)">Select Plan</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </section>

      <section class="testimonials-section">
        <h2 class="text-center my-5">What Our Subscribers Say</h2>
        <div class="row">
          <div class="col" *ngFor="let testimonial of testimonials">
            <mat-card class="cardtetom">
              <mat-card-content>
                <mat-card-title class="card-title">{{ testimonial.name }}</mat-card-title>
                <mat-card-content>{{ testimonial.message }}</mat-card-content>
                <p><strong>- {{ testimonial.role }}</strong></p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>

</mat-drawer-container>
