body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.cardbenefit, .cardtetom {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}



.cardplan{
  flex-direction: column;
  display: flex;
  min-height: 400px;
  width: 100%;
}

.iconbenefit {
  font-size: 50px;
  height: 50px;
  width: 100px;
}

.container {
  max-width: 1080px;
  margin-top: 2rem;
  width: 100%;
}

.text-center {
  text-align: center;
}

.benefits-section, .testimonials-section .plan-section {
  margin-bottom: 5rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col {
  flex: 0 0 90%;
  margin: 1rem;
  box-sizing: border-box;
}

/* For medium and large devices */
@media (min-width: 601px) {
  .row {
    flex-direction: row;
    justify-content: space-around;
  }

  .col {
    flex: 0 0 30%;
  }
}



.iconbenefit {
  height: 150px; 
  width: 150px;
  object-fit: cover;
}