<div class="container mt-5">
    <div class="row">
      <div class="col-md-4" *ngFor="let plan of plans">
        <div class="product-card">
          <div class="header">
            <h3>{{ plan.title }}</h3>
          </div>
          <div class="body">
            <div class="price">
              <h4>{{ plan.price }}</h4>
            </div>
            <ul>
              <li *ngFor="let feature of plan.features">
                <i class="fas fa-check-circle"></i>
                {{ feature }}
              </li>
            </ul>
          </div>
          <div class="footer">
            <button class="btn btn-primary">Get Started</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  