.container {
  max-width: 960px;
  margin-top: 2rem; // Add this line to add margin to the top of the container
}

.text-center {
  text-align: center;
}

.benefits-section {
  margin-bottom: 5rem;

  .card {
    text-align: center;

    .material-icons.large {
      font-size: 3rem;
      color: #333;
    }

    .card-title {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 1rem 0;
    }

    p {
      font-size: 1rem;
    }
  }
}

.card-price {
  font-weight: bold;
  font-size: 1.75rem;
  text-align: center;
  margin: 1rem 0;
}

.card-content {
  min-height: 240px; // Add this line to set a minimum height for the card content
}

.collection-item {
  font-weight: 500;
  border: none;
  background-color: transparent;

  .material-icons {
    vertical-align: middle;
    margin-right: 5px;
  }
}

button.btn {
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
}

.card .card-action {
  text-align: center;
}

.plancard{

  min-height: 200px;
}