.container {
    max-width: 600px;
    margin: 2rem auto;
    height: 100vh;
    padding-top: 2rem; 
  }
  
  .payment-form {
    background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  label {
    margin-bottom: 0.5rem;
  }
  
  .form-control {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
  }
  


  .submit-payment-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
  
  .payment-logos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    height: auto;
    margin: 0 0.5rem;
  }