
<mat-drawer-container>

<div class="container">

    <h1>Payment not Available</h1>
    <div class="card">
      <div class="card-content">
        <span class="card-title">Payment</span>
        <form>
          <div class="input-field">
            <input type="text" id="cardholder-name" disabled>
            <label for="cardholder-name">Cardholder Name</label>
          </div>
          <div class="input-field">
            <input type="text" id="card-number" disabled>
            <label for="card-number">Card Number</label>
          </div>
          <div class="input-field">
            <input type="text" id="expiry-date " disabled>
            <label for="expiry-date">Expiry Date (MM/YY)</label>
          </div>
          <div class="input-field">
            <input type="text" id="cvv" disabled>
            <label for="cvv">CVV</label>
          </div>

          <div class="submit-payment-wrapper">
          <button type="submit" class="btn waves-effect waves-light" disabled>Submit Payment</button>

          <div class="payment-logos">
            <img src="assets/image/visa.png" alt="Visa Logo" class="logo">
            <img src="assets/image/MasterCard.png" alt="Mastercard Logo" class="logo">
          </div>
        </div>


        </form>
      </div>
    </div>
  </div>
  
</mat-drawer-container>