
<div class="container">
<div class="profile-container">
  <div class="profile-header">
    <img [src]="profileData.imageUrl" alt="Profile Picture" class="profile-image">
    <h2>{{ profileData.name }}</h2>
  </div>
  <div class="profile-info">
    <div class="info-item">
      <span class="info-label">Email:</span>
      <span>{{ profileData.email }}</span>
    </div>
    <div class="info-item">
      <span class="info-label">Bio:</span>
      <span>{{ profileData.bio }}</span>
    </div>
  </div>
</div>



<div class="subscription-container">
  <h3>Subscribed Plan</h3>
  <div class="subscription-card">
    <h4>English Learning Plan - Premium</h4>
    <p>Access to all PTE and IELTS resources</p>
  </div>
</div>

</div>