  .icon-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  
  }
  
  
  .material-icons {
    font-size: 24px;
    color: #333;
    cursor: pointer;
  }
  
  .material-icons:hover {
    color: #666;
  }
  
  
  .search-box {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  
  .search-input {
    padding-right: 40px; // Adjust this value based on the width of the search icon
  }
  
  .search-icon {
    position: absolute;
    right: 0;
    font-size: 24px;
    color: #333;
    cursor: pointer;
  }