<h2 mat-dialog-title>Add New Record</h2>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Front</mat-label>
      <input matInput formControlName="id">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Back</mat-label>
      <input matInput formControlName="progress">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Hint</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enable Voice</mat-label>
      <input matInput formControlName="fruit">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="close()">Close</button>
  <button mat-raised-button color="primary" (click)="save()">Add</button>
</div>
