


<div fxLayout="column" fxLayoutAlign="start center" class="container" fxFlex="100">
  <div fxFlex.gt-sm="50" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="start center" class="inner-container">

    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="space-around start" fxLayoutGap="20px" fxFlex="20" fxHide.lt-md class="filters">
      <div fxFlex.gt-sm="25" fxFlex.lt-md="100" class="column">
        <mat-card class="filter-card">
          <mat-card-content fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>accessibility</mat-icon>
            <p class="aligned-text">Dashboard</p>
          </mat-card-content>
        </mat-card>
      </div>


      <div fxFlex.gt-sm="25" fxFlex.lt-md="100" class="column">
        <mat-card class="filter-card">
          <mat-card-content fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>accessibility</mat-icon>
            <p class="aligned-text">Test me !</p>
          </mat-card-content>
        </mat-card>
      </div>


      <div fxFlex.gt-sm="25" fxFlex.lt-md="100" class="column">
        <mat-card class="filter-card">
          <mat-card-content fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>accessibility</mat-icon>
            <p class="aligned-text">Some Text</p>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex.gt-sm="25" fxFlex.lt-md="100" class="column">
        <mat-card class="filter-card">
          <mat-card-content fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>accessibility</mat-icon>
            <p class="aligned-text">Some Text</p>
          </mat-card-content>
        </mat-card>
      </div>


    </div>

    <mat-card class="flashcard" fxFlex="80">
      <h2 class="flashcard-question">Question</h2>

    </mat-card>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px" class="footer">
     
     
      <button mat-fab matTooltip="Primary" color="primary" aria-label="Example fab with a heart icon">
        <mat-icon>navigate_before</mat-icon>
      </button>


      <button mat-fab matTooltip="Primary" color="primary" aria-label="Example fab with a heart icon">
        <mat-icon>navigate_next</mat-icon>
      </button>

     

    </div>

  </div>
</div>
