.aligned-text,
.container {
  align-self: center;
}

.container {
  height: 90vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.inner-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header, 
.footer {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.filter-card {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.flashcard {
  width: 100%;
  flex-grow: 1;
  margin: 20px;
  text-align: center;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.filters {
  width: 100%;
  flex-grow: 0;
}

.flashcard-question {
  margin-bottom: 20px;
  font-size: 20px;
}

@media (max-width: 767px) {
  .container,
  .inner-container,
  .column {
    width: 100%;
  }

  .filter-card {
    flex-direction: column;
  }
}

.card {
  perspective: 1500px;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.front, 
.back, 
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.back {
  //transform: rotateX(180deg);
  transform: rotateX(180deg) rotateY(180deg);
  font-size: 20px;
}



.flashcard-answer {
  margin-bottom: 20px;
  transform: rotateY(180deg);
}


mat-card{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
}
