<div fxLayout="column" fxLayoutAlign="start center" class="container" fxFlex="100">
  <div fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="start center" class="inner-container">
    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="space-around start" fxLayoutGap="20px" fxHide.lt-md
      class="filters">
      <div fxFlex.gt-sm="25" fxFlex.lt-md="100" class="column">
        <mat-card class="filter-card">
          <mat-card-content fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>dashboard</mat-icon>
            <p class="aligned-text">Dashboard</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex.gt-sm="25" fxFlex.lt-md="100" class="column">
        <mat-card class="filter-card">
          <mat-card-content fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>help_outline</mat-icon>
            <p class="aligned-text">Quiz</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex.gt-sm="25" fxFlex.lt-md="100" class="column">
        <mat-card class="filter-card">
          <mat-card-content fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>emoji_events</mat-icon>
            <p class="aligned-text">Tournament</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex.gt-sm="25" fxFlex.lt-md="100" class="column">
        <mat-card class="filter-card">
          <mat-card-content fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>format_list_numbered</mat-icon>
            <p class="aligned-text">Rank</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <mat-card class="card" class="flashcard" fxFlex="80" (click)="toggleFlip()" [@flipState]="flip"
      (@flipState.done)="animationDone($event)">
      <div class="front" *ngIf="flip === 'inactive'">
        <div class="content">
          <mat-card-content class="flashcard-question">
            <p>
              Question
            </p>
          </mat-card-content>
        </div>
      </div>
      <div class="back" *ngIf="flip === 'active'">
        <div class="content">
          <mat-card-content class="flashcard-answer">
            <p>
              Answer
            </p>
          </mat-card-content>
        </div>
      </div>


    </mat-card>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px" class="footer">
      <button mat-fab color="primary" aria-label="Example fab with a heart icon">
        <mat-icon>navigate_before</mat-icon>
      </button>    
      <button matTooltip="Your hint text here" #tooltip="matTooltip"  (click)="tooltip.toggle()" matTooltipPosition="above"  matTooltipShowDelay="0" mat-fab matTooltip="info about action"
        color="primary" aria-label="Example fab with a heart icon">
        <mat-icon>lightbulb</mat-icon>
      </button>
      <button mat-fab color="primary" aria-label="Example fab with a heart icon">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </div>

</div>