/* layout-container */
.layout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  //background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

/* signup-container */
.signup-container {
  max-width: 600px;
  width: 100%;
  margin: 2rem;
  padding: 2rem;
  //border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #333;
}

/* google-signin button */
.google-signin {
  display: flex;
  align-items: center;
  //background-color: #fff;
  color: #555;
  padding: 0.5rem 1rem;
  //border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.google-signin:hover {
  //background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.google-signin img {
  width: 32px;
  margin-right: 0.5rem;
}
